% load static %}
hla
 <html>
<head>
  <title>Instagram</title>
  <link rel="stylesheet"  href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
</head>
 <body background>

  <div class="row justify-content-md-center" id="bloque1">
    <div class="card"  style="width: 20rem;">
      <div class="card-block">

        <form>
          <h1>
            <center>
              <font face="Cursive">INSTAGRAM</font>
            </center>
          </h1>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Coreo electrónico">
          </div>
            <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="usuario">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Confirmar contraseña">
          </div>
          <div>
          <form action="">
           <input type="radio" name="gender" value="male"> Mujer<br>
           <input type="radio" name="gender" value="female"> Hombre<br>
           <input type="radio" name="gender" value="other"> Otros
          </form>
          <center>
            <form action="/action_page.php">
             Fecha de nacimiento:
             <input type="date" name="Nacimiento">
            </form>
          </center>
          <center>
           <a href="bienvenida.html"><button type="button" class="btn btn-primary btn-md">Crear cuenta</button></a>
          </center>
          </div>
      </form>
    </div>
    </div>
    </div>
