{% load static %}
<!DOCTYPE html>

<html>
 <head>
  <title>Instagram</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
 </head>
 <body background="/Users/centroatico/Documents/giphy.gif">

    <div class="row justify-content-md-center" id="bloque1">
     <div class="card"  style="width: 20rem;">
      <div class="card-block">

        <form action="{% url 'crear_usuario' %}" method='POST'>
          {% csrf_token %}
          <h1>
            <center>
              <font face="Cursive">INSTAGRAM</font>
            </center>
          </h1>
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="NombreCompleto" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="CorreoElectronico" placeholder="Correo electronico">
          </div>
            <div class="form-group">
            <input type="text" class="form-control" id="name" name="Usuario" placeholder="Usuario">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="name" name="Contrasena" placeholder="Contrasena">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="name" name="ConfirmarContrasena" placeholder="Confirmar contrasena">
          </div>
          <div>
           <input type="radio" name="genderm" value="male"> Mujer<br>
           <input type="radio" name="genderm" value="female"> Hombre<br>
           <input type="radio" name="gendero" value="other"> Otros
          <center>
            Fecha de nacimiento:
            <input type="date" name="Nacimiento">
          </center>
          <center>
           <button class="btn btn-primary btn-md">Crear cuenta</button>
          </center>
          </div>
      </form>
    </div>
    </div>
    </div>

   <div class="row justify-content-md-center" id="bloque2">
    <div class="card"  style="width: 20rem;">
      <div class="card-block">
        <center>
         ¿tienes cuenta? <a href="{% url 'ingresar' %}">Ingresar</a>
        </center>
   </div>
   </div>
   </div>





  <img src=""></img>
</body>
</html>
